/* importamos la fuentes aca en el css  desde google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* creamos unas variables */

:root {
    --crl-main: #4b33a8;
    --crl-main-ligth: #836bdc;
    --crl-white: #ececec;
    --crl-gray: #e2e2e2;
    --crl-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Rubik", sans-serif;
}

/* Tambien reseteamos todos los margenes y padding h1 hasta el h6, ancors, parrafos, input y el textarea.
a veces no se los reseta con el universal que pusimos arriba  */

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
    padding: 0;
}

/* a los ul y a los ancors les saco los estilos que vienen por defecto y la decoracion */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* wrapper index */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--crl-main);
}

 /* aside  */

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--crl-white);
    position: sticky;
    top: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

/* botones aside */

.menu {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* botones del aside */

.boton-menu.active {
    background-color: var(--crl-white);
    color: var(--crl-main);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: " ";
    position: absolute;
    width: 1rem;
    height: 2rem;
    top:100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--crl-white);
}

.boton-menu.active::after {
    content: " ";
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom:100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--crl-white);
}

.boton-menu{
     background-color: transparent;
     border: 0;
     color: var(--crl-white);
     font-size: 1rem;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 1rem;
     font-weight: 600;
     padding: 1rem;
 }
 
.boton-categoria > i.bi-hand-index-thumb-fill,
.boton-categoria > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito{
    margin-top: 2rem;
}

 /* footer */
.texto-footer {
    color: var(--crl-main-ligth);
    font-size: .90rem;
}
 /* main */

main {
    background-color: var(--crl-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

/* titulo principal */

.titulo-principal {
    color: var(--crl-main);
}

/* contenedor-productos */

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
}
/* imagenes */

.producto-imagen {
    width: 100%;
    border-radius: 1rem;
    height: 500px;
    object-fit: cover;
    }

.producto-detalles {
    background-color: var(--crl-main);
    color: var(--crl-white);
    padding: .9rem;
    border-radius: 1rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
} 

.producto-titulo{
    font-size: 1rem;
}
 /* boton agregar */

 .producto-agregar{
    border: 0;
    background-color: var(--crl-white);
    padding: .5rem;
    color: var(--crl-main);
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--crl-white);
    transition: background-color .2s, color .2s;
 }

 .producto-agregar:hover {
    background-color: #4b33a8;
    color: var(--crl-white);
 }

 /* CARRITO */

 .contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 .carrito-vacio {
    color: var(--crl-main);
    display: none;
 }

 .carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 .carrito-producto {
    display: flex;
    justify-content:space-between ;
    background-color: var(--crl-gray);
    color: var(--crl-main);
    padding: .25rem;
    border-radius: 1rem;
    align-items: center;
    gap: 1rem;
 }

 .carrito-producto-imagen {
    width: 8rem;
    border-radius: 1rem;
 }
 .carrito-producto, small {
    font-size: 1rem;
 }

 .carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
    padding-right: 3rem;
    cursor: pointer;

 }
 
 .carrito-acciones {
    display: flex;
    justify-content: space-between;
 }

 .carrito-acciones-vaciar {
    border: 0;
    background-color: var(--crl-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--crl-main);
    text-transform: uppercase;
    cursor: pointer;
 }

 .carrito-acciones-comprar {
    border: 0;
    background-color: var(--crl-gray);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--crl-main);
    text-transform: uppercase;
    cursor: pointer;
 }

 .carrito-acciones-derecha {
    display: flex;
 }

 .carrito-acciones-total {
    background-color: var(--crl-gray);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;
    color: var(--crl-main);
    text-transform: uppercase;
    cursor: pointer;
 }
